# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized. This text is part of my graded assignment with Heading 2

**Objectives:**

- Use of markdown cells
- Different Heading Styles
- Tables
- Ordered List 
- Unordered List

## Some of the popular languages that Data Scientists use are:

1. Python
2. Scala
3. Julia

## Some of the commonly used libraries used by Data Scientists include:

- Numpy
- Pandas
- Matplotlib

|Data Science Tools|
|:----------------:|
|Jupyter|
|RStudio|
|Pycharm|

### Below are a few examples of evaluating arithmetic expressions in Python with Heading Style 3

### This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
#### Zia Ur Rehman